footer{
    background-color: $gris-foncer;
    color: $blanc;
    display: grid;
    grid-template-rows: 64px 19px 35px 22px 30px 30px;
    align-items: center;
    grid-template-columns: 28px 100%;
    font-size: 16px;


    h4, i, p{
        grid-column: 2;
    }

    h4{
        font-size: 19px;
    }
    
    .footer_logo{
        display: grid;
        grid-template-columns: 27px 241px;
        align-items: center;

    }

}