.header_accueil{
    height: 52px;
    display: flex;

}

.en-tete{
    height: 50px;
    display: grid;
    grid-template-columns: 20px 31px 211px;
    align-items: center;

    a{
        color: black;
        grid-column: 2;
    }
}

.logo_header{
    display: flex;
    margin: auto;
    width: 119px;
}

.menu_img{
    width: 100%;
}
.img_laNoteEnchantee{
height: 210px;
}

.header_menu{
    display: flex;
    flex-direction: column;
}

