.boutton
{
    border-radius: 30px;
    background: linear-gradient($rose, $violet);
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 201px;
    height: 44px;
}