.header
{
    background-color: $gris-primaire;
    width: $tailleMax;

    &_lieu {
        background-color: $gris_lieu;
        box-shadow: 0px -4px 3px $gris_ombre ;
    }

    .marqueur{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
    }

    h1 {
        font-weight: bold;
        text-align: center;

        &+p{
            text-align: center;
        }
    }

    a {
        text-decoration: none;
        color:white;
        font-weight: bold;
    }

    @media (max-width: map-get($breakpoints, mobile)) {
        
    }

};



.fonctionnement{


    &_etapes {
        background-color: $gris-primaire;
        width: 279px;
        display: flex;
        margin: auto;
        height: 45px;
        align-items: center;
        border-radius: 12px;
        box-shadow: 3px 4px 14px $gris_ombre
    }

    &_rond {
        background-color: $violet;
        color: white;
        width: 27px;
        height: 27px;
        border-radius: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
};

.restaurants {

     background-color: $gris-primaire; 
     
     a{
        text-decoration: none;
        color: black;
     }

     &_cadre{
         background-color: $blanc;
         position: relative;
         width: map-get($taille_image, largeur);
         margin: auto;
         margin-bottom: 16px;
         border-radius: 16px;
         height: 202px;
     }
     
     &_img{
        width: map-get($taille_image, largeur);
        height: map-get($taille_image, hauteur);
        display: flex;
        margin: auto;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
     }

     &_nouveau {
        width: 78px;
        height: 23px;
        background-color: $vert;
        color: #287764;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 3px;
        position: absolute;
        top: 11px;
        right: 11px;
     }

     h2{
        margin-left: 25px;
     }

     h3{
        margin-left: 23px;
        margin-bottom: 0px;
        margin-top: 9px;
     }

     p{
         margin-left: 22px;
         margin-top: 0;
     }

     i{
        position: absolute;
        bottom: 22px;
        right: 19px;
        font-size: 22px;
     }

     i:hover{
        background: linear-gradient($rose, $violet);
     }

}