.header
{
    background-color: $gris-primaire;

    @media (max-width: map-get($breakpoints, mobile)) {
        
    }

}




.img_restaurant
{
   width: map-get($taille_image, hauteur);
   height: map-get($taille_image, largeur);
}
