@media screen and (min-width: map-get($breakpoints, desktop)){

    .en-tete{
        display: flex;
        width: 25%;
        margin: auto;
    }

    .menu_img{
        height: 470px;
    }

    main{
        margin-top: -110px;
    }

}


@media screen and (min-width: map-get($breakpoints, grandEcran)){

    .en-tete{
        height: 127px;

        a{
            font-size: 47px;
        }
    }

    .logo_header{
        width: 284px;
    }

    .menu_img{
        height: 695px;
    }
}