$breakpoints : (
    desktop : 1024px,
    grandEcran : 2560px
); 

$taille_image : (
    hauteur : 141px, 
    largeur : 270px
);

$taille_logo : (
    largeur : 50%
);

$taille_articles : (
    longeur_width : 300px,
    hauteur_heigth : 58px
)